input {
    display: block;
    background-color: transparent;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    width: 100%;
    padding: 0.8rem;
    height: 40px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    box-shadow: none;
    text-align: center;
    &:focus {
        border: 1px solid #25292e;
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
