@import 'shared/assets/styles/main.scss';

.page-not-found {
    @include flex($jc: c, $ai: c, $dr: c);
    font-family: 'Open-sans', sans-serif;
    color: $blackLight;
    font-size: 4rem;
    width: 100%;
    button {
        color: $sea;
        margin: rem(64px) 0px;
        background: $white;
        border: 1px solid $sea;
        border-radius: rem(5px);
        transition: all 0.2s ease 0s;
        font-size: 1.3rem;
    }
    a {
        height: rem(60px);
        width: rem(248px);
        @include flex($jc: c, $ai: c);
    }
}
