@import 'shared/assets/styles/main.scss';

.input-text {
    & label {
        @include flex($dr: c);
    }
    & input::placeholder {
        color: #999999;
        font-size: rem(14px);
    }

    & input::selection {
        background: $emerland;
    }
}
