@import 'shared/assets/styles/main.scss';

.data-grid-container {
    width: 90%;
    @include flex($dr: c, $ai: c);
    & .footer {
        display: none;
    }
}
.data-grid {
    &__inputs-wrapper {
        font-family: 'Inter', sans-serif;
        width: 100%;
        // margin-top: rem(28px);
        // height: rem(160px);
        display: flex;
        justify-content: center;
        button {
            margin: 1rem;
            width: rem(100px);
        }
    }
    &__title {
        font-size: rem(40px);
        line-height: 150%;
    }
    &__continue {
        color: $white;
        margin: rem(10px) 0px;
        height: rem(40px);
        width: 100%;
        background: $black;
        border: 1px solid $black;
        border-radius: rem(5px);
        transition: all 0.2s ease 0s;
        font-weight: 600;
        font-size: 0.9rem;
        font-family: inherit;
        &:hover {
            background: $white;
            color: $black;
        }
        &--loading {
            background: $white;
        }
    }
}

.data-grid__table {
    width: 100%;
    height: 90vh;
    font-family: Inter;
    padding: 1rem;
}

.data-grid-component {
    height: 80vh;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;

    .rdg-header-row {
        // background: rgb(208, 255, 36);
        // color: rgba(58, 54, 54, 0.788);
        font-weight: 700;
        font-size: 12px;
        text-transform: capitalize;
        .rdg-cell {
            border-right: none;
        }
    }
    .rdg-cell {
        text-align: center;
    }
}
