.grid-7 {
  .row {
    grid-template-columns: 2fr 1fr 2fr 2fr 2fr 2fr 2fr;
  }
}

.grid-6 {
  .row {
    grid-template-columns: 2fr 1fr 2fr 2fr 2fr 2fr;
    @media (max-width: 400px) {
      grid-template-columns: 2fr 1fr 2fr 2fr 2fr;
    }
  }
}

.grid-5 {
  .row {
    grid-template-columns: 2fr 1fr 2fr 2fr 2fr;
  }
}

.grid-4 {
  .row {
    grid-template-columns: 2fr 1fr 2fr 2fr;
  }
}
.grid-3 {
  .row {
    grid-template-columns: 2fr 1fr 2fr;
  }
}

.grid-2 {
  .row {
    grid-template-columns: 2fr 1fr;
  }
}
