@import 'shared/assets/styles/main.scss';

.grid-table {
    background: #fffafa36; // color of artificial borders
    color: #686464; // color of texts of body rows except buttons
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, pingfang sc, hiragino sans gb, microsoft yahei,
        helvetica neue, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    .cell {
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10%rem;
        border-right: 1px solid $antGray;
    }
}

.grid-table .row {
    // margin: 0.6px; // border like margin (0.3px default)
    // background: #fafafa; // color of rows, background is gray, so margins look like borders
    // border-radius: 3px; // background color prevent border to be fully visible
    cursor: pointer;
    border-bottom: 1px solid $antGray;
    border-top: none;
    border-radius: 0;
    border-left: 1px solid $antGray;
    &:first-child {
        font-weight: bold;
        border-top: 1px solid $antGray;
        cursor: default;
        background: #fafafa;
        .cell {
            padding: 0;
            border-right: 0;
            &:last-child {
                border-right: 1px solid $antGray;
            }
        }
    }
    &:not(:first-child):hover {
        // font-weight: 500;
        // background: $antLightBlue;
        background: #f5f5f5;
        // button {
        //     font-weight: 500;
        // }
        .cell--selected {
        }
    }
}

//**MEDIAS**/
// @media (max-width: 800px) {
//     .grid-table {
//         background: transparent; // gap between tables
//         grid-row-gap: 2rem; // gap between individual tables
//         box-shadow: none; // remove shadow from div, give shadow to individual tables instead
//         .cell {
//             font-size: 1.6rem; // increase headers size
//             padding: 0 0 0.96rem 0 !important;
//             text-align: center;
//             //headers
//             &:before {
//                 background: #f5ec43;
//                 color: #878113;
//                 padding: 0.75rem;
//                 margin-bottom: 0.75rem;
//                 font-size: 1.6rem; // increase headers size
//                 letter-spacing: 1px; // headers are hidden, so letter spacing is needed here too
//                 font-weight: bold;
//             }
//             // first header/cell
//             &:first-child {
//                 &:before {
//                     border-radius: 0.5rem 0.5rem 0 0; // individual table , first header/cell
//                 }
//             }
//         }

//         .row {
//             background: rgba(100, 184, 253, 0.445);
//             &:first-child {
//                 display: none; //hide headers - first row. will be using :before content as headers
//             }
//         }
//     }
// }

// @media (max-width: 400px) {
//     .grid-table .cell {
//         background: rgba(255, 0, 0, 0.171);
//     }
// }
