@import 'shared/assets/styles/main.scss';

.admin-page-container {
    width: inherit;
    @include flex($dr: c, $jc: sb, $ai: c);
}
.admin-page {
    font-family: 'Inter', sans-serif;

    &__inputs-wrapper {
        width: rem(208px);
        margin-top: rem(28px);
        height: rem(160px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        font-size: rem(48px);
        font-weight: 700;
        text-align: center;
        margin-right: 4px;
    }
    &__continue {
        color: $white;
        margin: rem(10px) 0px;
        height: rem(40px);
        width: 100%;
        background: $black;
        border: 1px solid $black;
        border-radius: rem(5px);
        transition: all 0.2s ease 0s;
        font-weight: 600;
        font-size: 0.9rem;
        font-family: inherit;
        &:hover,
        &:hover:visited {
            background: $white;
            color: $black;
        }
        &:visited {
            color: $white;
        }

        &--loading {
            background: $white;
        }
    }
}
