@import 'shared/assets/styles/main.scss';

.login-page-container {
    width: inherit;
    @include flex($dr: c, $jc: sb, $ai: c);
}
.login-page {
    font-family: 'Inter', sans-serif;
    &__inputs-wrapper {
        max-width: rem(260px);
        margin: 0 auto;
        margin-top: rem(24px);
    }
    &__title {
        font-size: rem(48px);
        font-weight: 800;
        text-align: center;
        // span:last-child {
        //     // color: #44c1f7;
        // }
    }
    &__continue {
        @include text($color: $white, $font: inherit, $size: rem(14.4px), $weight: 600);
        @include el($w: 100%, $h: rem(40px), $bg: $black, $b: rem(1px) solid $black, $m: rem(10px) 0);
        border-radius: rem(5px);
        transition: all 0.2s ease 0s;
        &:hover {
            background: $white;
            color: $black;
        }
        &--loading {
            background: $white;
        }
    }

    input:last-child {
        margin: rem(4px) 0px;
    }

    &__unauthorized {
        color: red;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        bottom: 5rem;
        left: 0;
        right: 0;
        font-size: rem(14px);
        border: 1px solid rgb(253, 243, 243);
        border-top: 1px solid rgb(253, 243, 243);
        width: max-content;
        padding: 2rem;
    }
}
