@import 'shared/assets/styles/main.scss';

.login-page {
    // widht and flex
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    //
}
