/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('Poppins Light'), local('Poppins-Light'), url('./fonts/poppins-latin-300.woff2') format('woff2');
    font-display: swap;
}
/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins Medium'), local('Poppins-Medium'), url('./fonts/poppins-latin-500.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local('Inter Regular'), local('Inter-Regular'), url('./fonts/Inter-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local('Inter Medium'), local('Inter-Medium'), url('./fonts/Inter-Medium.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local('Inter Bold'), local('Inter-Bold'), url('./fonts/Inter-Bold.woff2') format('woff2');
    font-display: swap;
}
