@import './styleHelpers/index.scss';

.grid-table {
    display: grid;
    max-height: 90vh;
    overflow: auto;
}
.grid-table .row {
    display: grid;
}

.grid-table .cell {
    padding: 0.8rem;

    @media (max-width: 800px) {
        //headers
        &:before {
            content: attr(data-title);
            display: block;
        }
        // first header/cell
        &:first-child {
            grid-column-start: 1;
            grid-column-end: 2; // to span all, for long first column use  1 - and last fr
        }
    }

    @media (max-width: 400px) {
        &:last-child {
            grid-column-start: 1;
            grid-column-end: 6;
        }
    }
}
